{
  "customizationConfig" : {
    "additionalShapeConstructors" : null,
    "authPolicyActions" : {
      "actionPrefix" : null,
      "additionalOperations" : null,
      "fileNamePrefix" : null,
      "skip" : true
    },
    "calculateCRC32FromCompressedData" : false,
    "contentTypeOverride" : null,
    "convenienceTypeOverloads" : [ ],
    "customClientConfigFactory" : null,
    "customCodeTemplates" : null,
    "customErrorCodeFieldName" : null,
    "customExceptionUnmarshallerImpl" : null,
    "customFileHeader" : null,
    "customResponseHandlerFqcn" : null,
    "customResponseMetadataClassName" : null,
    "customServiceMetadata" : null,
    "customServiceNameForRequest" : null,
    "customSignerProvider" : null,
    "deprecatedSuppressions" : [ "ClientConstructors", "ClientMutationMethods", "EnumSetterOverload" ],
    "emitLegacyEnumSetterFor" : null,
    "operationModifiers" : null,
    "operationsWithResponseStreamContentLengthValidation" : null,
    "presignersFqcn" : null,
    "renameShapes" : null,
    "requestMetrics" : null,
    "requiredParamValidationEnabled" : false,
    "s3ArnableFields" : null,
    "sdkModeledExceptionBaseClassName" : null,
    "sendEmptyAutoConstructedListAsEmptyList" : null,
    "sendExplicitlyEmptyListsForQuery" : false,
    "serviceClientHoldInputStream" : false,
    "shapeModifiers" : null,
    "shapeSubstitutions" : null,
    "simpleMethods" : null,
    "skipClientMethodForOperations" : [ ],
    "skipInterfaceAdditions" : false,
    "skipSmokeTests" : true,
    "transformDirectory" : "transform",
    "useAutoConstructList" : false,
    "useAutoConstructMap" : false,
    "useUidAsFilePrefix" : true
  },
  "metadata" : {
    "apiVersion" : "2021-07-15",
    "asyncClient" : "AmazonChimeSDKMeetingsAsyncClient",
    "asyncClientBuilderClassName" : "AmazonChimeSDKMeetingsAsyncClientBuilder",
    "asyncInterface" : "AmazonChimeSDKMeetingsAsync",
    "cborProtocol" : false,
    "checksumFormat" : null,
    "contentType" : "application/json",
    "cucumberModuleInjectorClassName" : "AmazonChimeSDKMeetingsModuleInjector",
    "defaultEndpoint" : "meetings-chime.us-east-1.amazonaws.com",
    "defaultEndpointWithoutHttpProtocol" : "meetings-chime.us-east-1.amazonaws.com",
    "defaultRegion" : null,
    "documentation" : "<p>The Amazon Chime SDK meetings APIs in this section allow software developers to create Amazon Chime SDK meetings, set the AWS Regions for meetings, create and manage users, and send and receive meeting notifications. For more information about the meeting APIs, see <a href=\"http://amazonaws.com/chime/latest/APIReference/API_Operations_Amazon_Chime_SDK_meetings\">Amazon Chime SDK meetings</a>.</p>",
    "endpointPrefix" : "meetings-chime",
    "hasApiWithStreamInput" : false,
    "ionProtocol" : false,
    "jsonProtocol" : true,
    "jsonVersion" : "1.1",
    "packageName" : "com.amazonaws.services.chimesdkmeetings",
    "packagePath" : "com/amazonaws/services/chimesdkmeetings",
    "protocol" : "rest-json",
    "protocolDefaultExceptionUmarshallerImpl" : null,
    "protocolFactory" : "com.amazonaws.protocol.json.SdkJsonProtocolFactory",
    "requestBaseFqcn" : "com.amazonaws.AmazonWebServiceRequest",
    "requiresApiKey" : false,
    "requiresIamSigners" : false,
    "serviceAbbreviation" : null,
    "serviceFullName" : "Amazon Chime SDK Meetings",
    "serviceId" : "Chime SDK Meetings",
    "serviceName" : "Amazon Chime SDK Meetings",
    "signingName" : "chime",
    "smokeTestsPackageName" : "com.amazonaws.services.chimesdkmeetings.smoketests",
    "syncClient" : "AmazonChimeSDKMeetingsClient",
    "syncClientBuilderClassName" : "AmazonChimeSDKMeetingsClientBuilder",
    "syncInterface" : "AmazonChimeSDKMeetings",
    "uid" : "chime-sdk-meetings-2021-07-15",
    "unmarshallerClassSuffix" : "JsonUnmarshaller",
    "unmarshallerContextClassName" : "JsonUnmarshallerContext",
    "xmlProtocol" : false
  },
  "operations" : {
    "BatchCreateAttendee" : {
      "asyncCallableType" : "java.util.concurrent.Callable<BatchCreateAttendeeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<BatchCreateAttendeeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<BatchCreateAttendeeRequest, BatchCreateAttendeeResult>",
      "asyncReturnType" : "BatchCreateAttendeeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates up to 100 attendees for an active Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The user isn't authorized to request a resource.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchCreateAttendeeRequest",
        "variableName" : "batchCreateAttendeeRequest",
        "variableType" : "BatchCreateAttendeeRequest",
        "documentation" : "",
        "simpleType" : "BatchCreateAttendeeRequest",
        "variableSetterType" : "BatchCreateAttendeeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "batchCreateAttendee",
      "operationName" : "BatchCreateAttendee",
      "returnType" : {
        "returnType" : "BatchCreateAttendeeResult",
        "documentation" : null
      },
      "syncReturnType" : "BatchCreateAttendeeResult"
    },
    "CreateAttendee" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateAttendeeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateAttendeeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateAttendeeRequest, CreateAttendeeResult>",
      "asyncReturnType" : "CreateAttendeeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a new attendee for an active Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The user isn't authorized to request a resource.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "<p>The request was well-formed but was unable to be followed due to semantic errors.</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateAttendeeRequest",
        "variableName" : "createAttendeeRequest",
        "variableType" : "CreateAttendeeRequest",
        "documentation" : "",
        "simpleType" : "CreateAttendeeRequest",
        "variableSetterType" : "CreateAttendeeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createAttendee",
      "operationName" : "CreateAttendee",
      "returnType" : {
        "returnType" : "CreateAttendeeResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateAttendeeResult"
    },
    "CreateMeeting" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMeetingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMeetingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMeetingRequest, CreateMeetingResult>",
      "asyncReturnType" : "CreateMeetingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Creates a new Amazon Chime SDK meeting in the specified media Region with no initial attendees. For more information about specifying media Regions, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/chime-sdk-meetings-regions.html\">Amazon Chime SDK Media Regions</a> in the <i>Amazon Chime Developer Guide</i>. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The user isn't authorized to request a resource.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMeetingRequest",
        "variableName" : "createMeetingRequest",
        "variableType" : "CreateMeetingRequest",
        "documentation" : "",
        "simpleType" : "CreateMeetingRequest",
        "variableSetterType" : "CreateMeetingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMeeting",
      "operationName" : "CreateMeeting",
      "returnType" : {
        "returnType" : "CreateMeetingResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMeetingResult"
    },
    "CreateMeetingWithAttendees" : {
      "asyncCallableType" : "java.util.concurrent.Callable<CreateMeetingWithAttendeesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<CreateMeetingWithAttendeesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<CreateMeetingWithAttendeesRequest, CreateMeetingWithAttendeesResult>",
      "asyncReturnType" : "CreateMeetingWithAttendeesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Creates a new Amazon Chime SDK meeting in the specified media Region, with attendees. For more information about specifying media Regions, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/chime-sdk-meetings-regions.html\">Amazon Chime SDK Media Regions</a> in the <i>Amazon Chime Developer Guide</i>. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The user isn't authorized to request a resource.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "CreateMeetingWithAttendeesRequest",
        "variableName" : "createMeetingWithAttendeesRequest",
        "variableType" : "CreateMeetingWithAttendeesRequest",
        "documentation" : "",
        "simpleType" : "CreateMeetingWithAttendeesRequest",
        "variableSetterType" : "CreateMeetingWithAttendeesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "createMeetingWithAttendees",
      "operationName" : "CreateMeetingWithAttendees",
      "returnType" : {
        "returnType" : "CreateMeetingWithAttendeesResult",
        "documentation" : null
      },
      "syncReturnType" : "CreateMeetingWithAttendeesResult"
    },
    "DeleteAttendee" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteAttendeeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteAttendeeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteAttendeeRequest, DeleteAttendeeResult>",
      "asyncReturnType" : "DeleteAttendeeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes an attendee from the specified Amazon Chime SDK meeting and deletes their <code>JoinToken</code>. Attendees are automatically deleted when a Amazon Chime SDK meeting is deleted. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteAttendeeRequest",
        "variableName" : "deleteAttendeeRequest",
        "variableType" : "DeleteAttendeeRequest",
        "documentation" : "",
        "simpleType" : "DeleteAttendeeRequest",
        "variableSetterType" : "DeleteAttendeeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteAttendee",
      "operationName" : "DeleteAttendee",
      "returnType" : {
        "returnType" : "DeleteAttendeeResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteAttendeeResult"
    },
    "DeleteMeeting" : {
      "asyncCallableType" : "java.util.concurrent.Callable<DeleteMeetingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<DeleteMeetingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<DeleteMeetingRequest, DeleteMeetingResult>",
      "asyncReturnType" : "DeleteMeetingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Deletes the specified Amazon Chime SDK meeting. The operation deletes all attendees, disconnects all clients, and prevents new clients from joining the meeting. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "DeleteMeetingRequest",
        "variableName" : "deleteMeetingRequest",
        "variableType" : "DeleteMeetingRequest",
        "documentation" : "",
        "simpleType" : "DeleteMeetingRequest",
        "variableSetterType" : "DeleteMeetingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "deleteMeeting",
      "operationName" : "DeleteMeeting",
      "returnType" : {
        "returnType" : "DeleteMeetingResult",
        "documentation" : null
      },
      "syncReturnType" : "DeleteMeetingResult"
    },
    "GetAttendee" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetAttendeeResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetAttendeeResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetAttendeeRequest, GetAttendeeResult>",
      "asyncReturnType" : "GetAttendeeResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Gets the Amazon Chime SDK attendee details for a specified meeting ID and attendee ID. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetAttendeeRequest",
        "variableName" : "getAttendeeRequest",
        "variableType" : "GetAttendeeRequest",
        "documentation" : "",
        "simpleType" : "GetAttendeeRequest",
        "variableSetterType" : "GetAttendeeRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getAttendee",
      "operationName" : "GetAttendee",
      "returnType" : {
        "returnType" : "GetAttendeeResult",
        "documentation" : null
      },
      "syncReturnType" : "GetAttendeeResult"
    },
    "GetMeeting" : {
      "asyncCallableType" : "java.util.concurrent.Callable<GetMeetingResult>",
      "asyncFutureType" : "java.util.concurrent.Future<GetMeetingResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<GetMeetingRequest, GetMeetingResult>",
      "asyncReturnType" : "GetMeetingResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Gets the Amazon Chime SDK meeting details for the specified meeting ID. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "GetMeetingRequest",
        "variableName" : "getMeetingRequest",
        "variableType" : "GetMeetingRequest",
        "documentation" : "",
        "simpleType" : "GetMeetingRequest",
        "variableSetterType" : "GetMeetingRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "getMeeting",
      "operationName" : "GetMeeting",
      "returnType" : {
        "returnType" : "GetMeetingResult",
        "documentation" : null
      },
      "syncReturnType" : "GetMeetingResult"
    },
    "ListAttendees" : {
      "asyncCallableType" : "java.util.concurrent.Callable<ListAttendeesResult>",
      "asyncFutureType" : "java.util.concurrent.Future<ListAttendeesResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<ListAttendeesRequest, ListAttendeesResult>",
      "asyncReturnType" : "ListAttendeesResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p> Lists the attendees for the specified Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>. </p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "ListAttendeesRequest",
        "variableName" : "listAttendeesRequest",
        "variableType" : "ListAttendeesRequest",
        "documentation" : "",
        "simpleType" : "ListAttendeesRequest",
        "variableSetterType" : "ListAttendeesRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "listAttendees",
      "operationName" : "ListAttendees",
      "returnType" : {
        "returnType" : "ListAttendeesResult",
        "documentation" : null
      },
      "syncReturnType" : "ListAttendeesResult"
    },
    "StartMeetingTranscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StartMeetingTranscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StartMeetingTranscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StartMeetingTranscriptionRequest, StartMeetingTranscriptionResult>",
      "asyncReturnType" : "StartMeetingTranscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Starts transcription for the specified <code>meetingId</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The user isn't authorized to request a resource.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "LimitExceededException",
        "documentation" : "<p>The request exceeds the resource limit.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "<p>The request was well-formed but was unable to be followed due to semantic errors.</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StartMeetingTranscriptionRequest",
        "variableName" : "startMeetingTranscriptionRequest",
        "variableType" : "StartMeetingTranscriptionRequest",
        "documentation" : "",
        "simpleType" : "StartMeetingTranscriptionRequest",
        "variableSetterType" : "StartMeetingTranscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "startMeetingTranscription",
      "operationName" : "StartMeetingTranscription",
      "returnType" : {
        "returnType" : "StartMeetingTranscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "StartMeetingTranscriptionResult"
    },
    "StopMeetingTranscription" : {
      "asyncCallableType" : "java.util.concurrent.Callable<StopMeetingTranscriptionResult>",
      "asyncFutureType" : "java.util.concurrent.Future<StopMeetingTranscriptionResult>",
      "asyncHandlerType" : "com.amazonaws.handlers.AsyncHandler<StopMeetingTranscriptionRequest, StopMeetingTranscriptionResult>",
      "asyncReturnType" : "StopMeetingTranscriptionResult",
      "authenticated" : true,
      "deprecated" : false,
      "documentation" : "<p>Stops transcription for the specified <code>meetingId</code>.</p>",
      "endpointCacheRequired" : false,
      "endpointDiscovery" : null,
      "endpointOperation" : false,
      "endpointTrait" : null,
      "exceptions" : [ {
        "exceptionName" : "ForbiddenException",
        "documentation" : "<p>The client is permanently forbidden from making the request.</p>",
        "httpStatusCode" : 403
      }, {
        "exceptionName" : "NotFoundException",
        "documentation" : "<p>One or more of the resources in the request does not exist in the system.</p>",
        "httpStatusCode" : 404
      }, {
        "exceptionName" : "BadRequestException",
        "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
        "httpStatusCode" : 400
      }, {
        "exceptionName" : "UnauthorizedException",
        "documentation" : "<p>The user isn't authorized to request a resource.</p>",
        "httpStatusCode" : 401
      }, {
        "exceptionName" : "UnprocessableEntityException",
        "documentation" : "<p>The request was well-formed but was unable to be followed due to semantic errors.</p>",
        "httpStatusCode" : 422
      }, {
        "exceptionName" : "ServiceUnavailableException",
        "documentation" : "<p>The service is currently unavailable.</p>",
        "httpStatusCode" : 503
      } ],
      "hasBlobMemberAsPayload" : false,
      "hostPrefixProcessor" : null,
      "input" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "StopMeetingTranscriptionRequest",
        "variableName" : "stopMeetingTranscriptionRequest",
        "variableType" : "StopMeetingTranscriptionRequest",
        "documentation" : "",
        "simpleType" : "StopMeetingTranscriptionRequest",
        "variableSetterType" : "StopMeetingTranscriptionRequest"
      },
      "inputStreamPropertyName" : null,
      "methodName" : "stopMeetingTranscription",
      "operationName" : "StopMeetingTranscription",
      "returnType" : {
        "returnType" : "StopMeetingTranscriptionResult",
        "documentation" : null
      },
      "syncReturnType" : "StopMeetingTranscriptionResult"
    }
  },
  "shapes" : {
    "Attendee" : {
      "c2jName" : "Attendee",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An Amazon Chime SDK meeting attendee. Includes a unique <code>AttendeeId</code> and <code>JoinToken</code>. The <code>JoinToken</code> allows a client to authenticate and join as the specified attendee. The <code>JoinToken</code> expires when the meeting ends, or when <a>DeleteAttendee</a> is called. After that, the attendee is unable to join the meeting. </p> <p>We recommend securely transferring each <code>JoinToken</code> from your server application to the client so that no other client has access to the token except for the one authorized to represent the attendee.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.chimesdkmeetings.model.Attendee",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "ExternalUserId",
        "c2jShape" : "ExternalUserId",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>\n@param externalUserId The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withExternalUserId",
        "getterDocumentation" : "/**<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>\n@return The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.*/",
        "getterMethodName" : "getExternalUserId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "ExternalUserId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "ExternalUserId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "ExternalUserId",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>\n@param externalUserId The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.*/",
        "setterMethodName" : "setExternalUserId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "externalUserId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>\n@param externalUserId The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "externalUserId",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "AttendeeId",
        "c2jShape" : "GuidString",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Chime SDK attendee ID.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Chime SDK attendee ID.</p>\n@param attendeeId The Amazon Chime SDK attendee ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAttendeeId",
        "getterDocumentation" : "/**<p>The Amazon Chime SDK attendee ID.</p>\n@return The Amazon Chime SDK attendee ID.*/",
        "getterMethodName" : "getAttendeeId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "AttendeeId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "AttendeeId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "AttendeeId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Chime SDK attendee ID.</p>\n@param attendeeId The Amazon Chime SDK attendee ID.*/",
        "setterMethodName" : "setAttendeeId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "attendeeId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Chime SDK attendee ID.</p>\n@param attendeeId The Amazon Chime SDK attendee ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "attendeeId",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Chime SDK attendee ID.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "JoinToken",
        "c2jShape" : "JoinTokenString",
        "deprecated" : false,
        "documentation" : "<p>The join token used by the Amazon Chime SDK attendee.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The join token used by the Amazon Chime SDK attendee.</p>\n@param joinToken The join token used by the Amazon Chime SDK attendee.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withJoinToken",
        "getterDocumentation" : "/**<p>The join token used by the Amazon Chime SDK attendee.</p>\n@return The join token used by the Amazon Chime SDK attendee.*/",
        "getterMethodName" : "getJoinToken",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "JoinToken",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "JoinToken",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "JoinToken",
        "sensitive" : true,
        "setterDocumentation" : "/**<p>The join token used by the Amazon Chime SDK attendee.</p>\n@param joinToken The join token used by the Amazon Chime SDK attendee.*/",
        "setterMethodName" : "setJoinToken",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "joinToken",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The join token used by the Amazon Chime SDK attendee.</p>\n@param joinToken The join token used by the Amazon Chime SDK attendee.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "joinToken",
          "variableType" : "String",
          "documentation" : "<p>The join token used by the Amazon Chime SDK attendee.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "AttendeeId" : {
          "c2jName" : "AttendeeId",
          "c2jShape" : "GuidString",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Chime SDK attendee ID.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Chime SDK attendee ID.</p>\n@param attendeeId The Amazon Chime SDK attendee ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAttendeeId",
          "getterDocumentation" : "/**<p>The Amazon Chime SDK attendee ID.</p>\n@return The Amazon Chime SDK attendee ID.*/",
          "getterMethodName" : "getAttendeeId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "AttendeeId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "AttendeeId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "AttendeeId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Chime SDK attendee ID.</p>\n@param attendeeId The Amazon Chime SDK attendee ID.*/",
          "setterMethodName" : "setAttendeeId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "attendeeId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Chime SDK attendee ID.</p>\n@param attendeeId The Amazon Chime SDK attendee ID.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "attendeeId",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Chime SDK attendee ID.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "ExternalUserId" : {
          "c2jName" : "ExternalUserId",
          "c2jShape" : "ExternalUserId",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>\n@param externalUserId The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withExternalUserId",
          "getterDocumentation" : "/**<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>\n@return The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.*/",
          "getterMethodName" : "getExternalUserId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "ExternalUserId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "ExternalUserId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "ExternalUserId",
          "sensitive" : true,
          "setterDocumentation" : "/**<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>\n@param externalUserId The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.*/",
          "setterMethodName" : "setExternalUserId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "externalUserId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>\n@param externalUserId The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "externalUserId",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "JoinToken" : {
          "c2jName" : "JoinToken",
          "c2jShape" : "JoinTokenString",
          "deprecated" : false,
          "documentation" : "<p>The join token used by the Amazon Chime SDK attendee.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The join token used by the Amazon Chime SDK attendee.</p>\n@param joinToken The join token used by the Amazon Chime SDK attendee.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withJoinToken",
          "getterDocumentation" : "/**<p>The join token used by the Amazon Chime SDK attendee.</p>\n@return The join token used by the Amazon Chime SDK attendee.*/",
          "getterMethodName" : "getJoinToken",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "JoinToken",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "JoinToken",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "JoinToken",
          "sensitive" : true,
          "setterDocumentation" : "/**<p>The join token used by the Amazon Chime SDK attendee.</p>\n@param joinToken The join token used by the Amazon Chime SDK attendee.*/",
          "setterMethodName" : "setJoinToken",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "joinToken",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The join token used by the Amazon Chime SDK attendee.</p>\n@param joinToken The join token used by the Amazon Chime SDK attendee.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "joinToken",
            "variableType" : "String",
            "documentation" : "<p>The join token used by the Amazon Chime SDK attendee.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.chimesdkmeetings.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "Attendee",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "Attendee",
        "variableName" : "attendee",
        "variableType" : "Attendee",
        "documentation" : null,
        "simpleType" : "Attendee",
        "variableSetterType" : "Attendee"
      },
      "wrapper" : false
    },
    "AudioFeatures" : {
      "c2jName" : "AudioFeatures",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>An optional category of meeting features that contains audio-specific configurations, such as operating parameters for Amazon Voice Focus.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.chimesdkmeetings.model.AudioFeatures",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "EchoReduction",
        "c2jShape" : "MeetingFeatureStatus",
        "deprecated" : false,
        "documentation" : "<p>Makes echo reduction available to clients who connect to the meeting.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : "MeetingFeatureStatus",
        "fluentSetterDocumentation" : "/**<p>Makes echo reduction available to clients who connect to the meeting.</p>\n@param echoReduction Makes echo reduction available to clients who connect to the meeting.\n@return Returns a reference to this object so that method calls can be chained together.\n@see MeetingFeatureStatus*/",
        "fluentSetterMethodName" : "withEchoReduction",
        "getterDocumentation" : "/**<p>Makes echo reduction available to clients who connect to the meeting.</p>\n@return Makes echo reduction available to clients who connect to the meeting.\n@see MeetingFeatureStatus*/",
        "getterMethodName" : "getEchoReduction",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "EchoReduction",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "EchoReduction",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "EchoReduction",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>Makes echo reduction available to clients who connect to the meeting.</p>\n@param echoReduction Makes echo reduction available to clients who connect to the meeting.\n@see MeetingFeatureStatus*/",
        "setterMethodName" : "setEchoReduction",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "echoReduction",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>Makes echo reduction available to clients who connect to the meeting.</p>\n@param echoReduction Makes echo reduction available to clients who connect to the meeting.\n@return Returns a reference to this object so that method calls can be chained together.\n@see MeetingFeatureStatus*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "echoReduction",
          "variableType" : "String",
          "documentation" : "<p>Makes echo reduction available to clients who connect to the meeting.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "EchoReduction" : {
          "c2jName" : "EchoReduction",
          "c2jShape" : "MeetingFeatureStatus",
          "deprecated" : false,
          "documentation" : "<p>Makes echo reduction available to clients who connect to the meeting.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : "MeetingFeatureStatus",
          "fluentSetterDocumentation" : "/**<p>Makes echo reduction available to clients who connect to the meeting.</p>\n@param echoReduction Makes echo reduction available to clients who connect to the meeting.\n@return Returns a reference to this object so that method calls can be chained together.\n@see MeetingFeatureStatus*/",
          "fluentSetterMethodName" : "withEchoReduction",
          "getterDocumentation" : "/**<p>Makes echo reduction available to clients who connect to the meeting.</p>\n@return Makes echo reduction available to clients who connect to the meeting.\n@see MeetingFeatureStatus*/",
          "getterMethodName" : "getEchoReduction",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "EchoReduction",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "EchoReduction",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "EchoReduction",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>Makes echo reduction available to clients who connect to the meeting.</p>\n@param echoReduction Makes echo reduction available to clients who connect to the meeting.\n@see MeetingFeatureStatus*/",
          "setterMethodName" : "setEchoReduction",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "echoReduction",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>Makes echo reduction available to clients who connect to the meeting.</p>\n@param echoReduction Makes echo reduction available to clients who connect to the meeting.\n@return Returns a reference to this object so that method calls can be chained together.\n@see MeetingFeatureStatus*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "echoReduction",
            "variableType" : "String",
            "documentation" : "<p>Makes echo reduction available to clients who connect to the meeting.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.chimesdkmeetings.model",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "AudioFeatures",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : {
        "flattened" : false,
        "resultWrapper" : null
      },
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "AudioFeatures",
        "variableName" : "audioFeatures",
        "variableType" : "AudioFeatures",
        "documentation" : null,
        "simpleType" : "AudioFeatures",
        "variableSetterType" : "AudioFeatures"
      },
      "wrapper" : false
    },
    "BadRequestException" : {
      "c2jName" : "BadRequestException",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "<p>The input parameters don't match the service's restrictions.</p>",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : "BadRequestException",
      "fullyQualifiedName" : "com.amazonaws.services.chimesdkmeetings.exception.BadRequestException",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : null,
      "members" : [ {
        "c2jName" : "Code",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withCode",
        "getterDocumentation" : "/**\n@return */",
        "getterMethodName" : "getCode",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Code",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Code",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "Code",
        "sensitive" : false,
        "setterDocumentation" : "/**\n@param code */",
        "setterMethodName" : "setCode",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "code",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "code",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "RequestId",
        "c2jShape" : "String",
        "deprecated" : false,
        "documentation" : "<p>The request id associated with the call responsible for the exception.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The request id associated with the call responsible for the exception.</p>\n@param requestId The request id associated with the call responsible for the exception.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withRequestId",
        "getterDocumentation" : "/**<p>The request id associated with the call responsible for the exception.</p>\n@return The request id associated with the call responsible for the exception.*/",
        "getterMethodName" : "getRequestId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "RequestId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "RequestId",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "RequestId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The request id associated with the call responsible for the exception.</p>\n@param requestId The request id associated with the call responsible for the exception.*/",
        "setterMethodName" : "setRequestId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "requestId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The request id associated with the call responsible for the exception.</p>\n@param requestId The request id associated with the call responsible for the exception.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "requestId",
          "variableType" : "String",
          "documentation" : "<p>The request id associated with the call responsible for the exception.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Code" : {
          "c2jName" : "Code",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withCode",
          "getterDocumentation" : "/**\n@return */",
          "getterMethodName" : "getCode",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Code",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Code",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "Code",
          "sensitive" : false,
          "setterDocumentation" : "/**\n@param code */",
          "setterMethodName" : "setCode",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "code",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**\n@param code \n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "code",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        },
        "RequestId" : {
          "c2jName" : "RequestId",
          "c2jShape" : "String",
          "deprecated" : false,
          "documentation" : "<p>The request id associated with the call responsible for the exception.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The request id associated with the call responsible for the exception.</p>\n@param requestId The request id associated with the call responsible for the exception.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withRequestId",
          "getterDocumentation" : "/**<p>The request id associated with the call responsible for the exception.</p>\n@return The request id associated with the call responsible for the exception.*/",
          "getterMethodName" : "getRequestId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "RequestId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "RequestId",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "RequestId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The request id associated with the call responsible for the exception.</p>\n@param requestId The request id associated with the call responsible for the exception.*/",
          "setterMethodName" : "setRequestId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "requestId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The request id associated with the call responsible for the exception.</p>\n@param requestId The request id associated with the call responsible for the exception.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "requestId",
            "variableType" : "String",
            "documentation" : "<p>The request id associated with the call responsible for the exception.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.chimesdkmeetings.exception",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ ],
      "shapeName" : "BadRequestException",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BadRequestException",
        "variableName" : "badRequestException",
        "variableType" : "BadRequestException",
        "documentation" : null,
        "simpleType" : "BadRequestException",
        "variableSetterType" : "BadRequestException"
      },
      "wrapper" : false
    },
    "BatchCreateAttendeeRequest" : {
      "c2jName" : "BatchCreateAttendeeRequest",
      "customization" : {
        "artificialResultWrapper" : null,
        "skipGeneratingMarshaller" : false,
        "skipGeneratingModelClass" : false,
        "skipGeneratingUnmarshaller" : false
      },
      "deprecated" : false,
      "documentation" : "",
      "endpointDiscoveryMembers" : null,
      "enums" : null,
      "errorCode" : null,
      "fullyQualifiedName" : "com.amazonaws.services.chimesdkmeetings.request.BatchCreateAttendeeRequest",
      "hasHeaderMember" : false,
      "hasPayloadMember" : false,
      "hasRequiresLengthMember" : false,
      "hasStatusCodeMember" : false,
      "hasStreamingMember" : false,
      "marshaller" : {
        "action" : "BatchCreateAttendee",
        "locationName" : null,
        "requestUri" : "/meetings/{MeetingId}/attendees?operation=batch-create",
        "target" : null,
        "verb" : "POST",
        "xmlNameSpaceUri" : null
      },
      "members" : [ {
        "c2jName" : "MeetingId",
        "c2jShape" : "GuidString",
        "deprecated" : false,
        "documentation" : "<p>The Amazon Chime SDK ID of the meeting to which you're adding attendees.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The Amazon Chime SDK ID of the meeting to which you're adding attendees.</p>\n@param meetingId The Amazon Chime SDK ID of the meeting to which you're adding attendees.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withMeetingId",
        "getterDocumentation" : "/**<p>The Amazon Chime SDK ID of the meeting to which you're adding attendees.</p>\n@return The Amazon Chime SDK ID of the meeting to which you're adding attendees.*/",
        "getterMethodName" : "getMeetingId",
        "getterModel" : {
          "returnType" : "String",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : "uri",
          "marshallLocation" : "PATH",
          "marshallLocationName" : "MeetingId",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "MeetingId",
          "uri" : true
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : false,
        "listModel" : null,
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "String",
        "marshallingType" : "STRING",
        "name" : "MeetingId",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The Amazon Chime SDK ID of the meeting to which you're adding attendees.</p>\n@param meetingId The Amazon Chime SDK ID of the meeting to which you're adding attendees.*/",
        "setterMethodName" : "setMeetingId",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "meetingId",
          "variableType" : "String",
          "documentation" : "",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : true,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The Amazon Chime SDK ID of the meeting to which you're adding attendees.</p>\n@param meetingId The Amazon Chime SDK ID of the meeting to which you're adding attendees.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "String",
          "variableName" : "meetingId",
          "variableType" : "String",
          "documentation" : "<p>The Amazon Chime SDK ID of the meeting to which you're adding attendees.</p>",
          "simpleType" : "String",
          "variableSetterType" : "String"
        },
        "xmlNameSpaceUri" : null
      }, {
        "c2jName" : "Attendees",
        "c2jShape" : "CreateAttendeeRequestItemList",
        "deprecated" : false,
        "documentation" : "<p>The attendee information, including attendees' IDs and join tokens.</p>",
        "endpointDiscoveryId" : false,
        "enumType" : null,
        "fluentSetterDocumentation" : "/**<p>The attendee information, including attendees' IDs and join tokens.</p>\n@param attendees The attendee information, including attendees' IDs and join tokens.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "fluentSetterMethodName" : "withAttendees",
        "getterDocumentation" : "/**<p>The attendee information, including attendees' IDs and join tokens.</p>\n@return The attendee information, including attendees' IDs and join tokens.*/",
        "getterMethodName" : "getAttendees",
        "getterModel" : {
          "returnType" : "java.util.List<CreateAttendeeRequestItem>",
          "documentation" : null
        },
        "http" : {
          "additionalMarshallingPath" : null,
          "additionalUnmarshallingPath" : null,
          "flattened" : false,
          "greedy" : false,
          "header" : false,
          "isPayload" : false,
          "isStreaming" : false,
          "location" : null,
          "marshallLocation" : "PAYLOAD",
          "marshallLocationName" : "Attendees",
          "queryString" : false,
          "requiresLength" : false,
          "statusCode" : false,
          "unmarshallLocationName" : "Attendees",
          "uri" : false
        },
        "idempotencyToken" : false,
        "isBinary" : false,
        "jsonValue" : false,
        "list" : true,
        "listModel" : {
          "implType" : "java.util.ArrayList",
          "interfaceType" : "java.util.List",
          "listMemberModel" : {
            "c2jName" : "member",
            "c2jShape" : "CreateAttendeeRequestItem",
            "deprecated" : false,
            "documentation" : "",
            "endpointDiscoveryId" : false,
            "enumType" : null,
            "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "fluentSetterMethodName" : "withMember",
            "getterDocumentation" : "/**\n@return */",
            "getterMethodName" : "getMember",
            "getterModel" : {
              "returnType" : "CreateAttendeeRequestItem",
              "documentation" : null
            },
            "http" : {
              "additionalMarshallingPath" : null,
              "additionalUnmarshallingPath" : null,
              "flattened" : false,
              "greedy" : false,
              "header" : false,
              "isPayload" : false,
              "isStreaming" : false,
              "location" : null,
              "marshallLocation" : "PAYLOAD",
              "marshallLocationName" : "member",
              "queryString" : false,
              "requiresLength" : false,
              "statusCode" : false,
              "unmarshallLocationName" : "member",
              "uri" : false
            },
            "idempotencyToken" : false,
            "isBinary" : false,
            "jsonValue" : false,
            "list" : false,
            "listModel" : null,
            "map" : false,
            "mapModel" : null,
            "marshallingTargetClass" : "StructuredPojo",
            "marshallingType" : "STRUCTURED",
            "name" : "Member",
            "sensitive" : false,
            "setterDocumentation" : "/**\n@param member */",
            "setterMethodName" : "setMember",
            "setterModel" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "CreateAttendeeRequestItem",
              "variableName" : "member",
              "variableType" : "CreateAttendeeRequestItem",
              "documentation" : "",
              "simpleType" : "CreateAttendeeRequestItem",
              "variableSetterType" : "CreateAttendeeRequestItem"
            },
            "shouldEmitLegacyEnumSetter" : false,
            "shouldFullyQualify" : false,
            "simple" : false,
            "unmarshallingType" : null,
            "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
            "variable" : {
              "timestampFormat" : null,
              "variableDeclarationType" : "CreateAttendeeRequestItem",
              "variableName" : "member",
              "variableType" : "CreateAttendeeRequestItem",
              "documentation" : "",
              "simpleType" : "CreateAttendeeRequestItem",
              "variableSetterType" : "CreateAttendeeRequestItem"
            },
            "xmlNameSpaceUri" : null
          },
          "memberLocationName" : null,
          "memberType" : "CreateAttendeeRequestItem",
          "map" : false,
          "marshallNonAutoConstructedEmptyLists" : false,
          "memberAdditionalMarshallingPath" : null,
          "memberAdditionalUnmarshallingPath" : null,
          "sendEmptyQueryString" : false,
          "simple" : false,
          "simpleType" : "CreateAttendeeRequestItem",
          "templateImplType" : "java.util.ArrayList<CreateAttendeeRequestItem>",
          "templateType" : "java.util.List<CreateAttendeeRequestItem>"
        },
        "map" : false,
        "mapModel" : null,
        "marshallingTargetClass" : "List",
        "marshallingType" : "LIST",
        "name" : "Attendees",
        "sensitive" : false,
        "setterDocumentation" : "/**<p>The attendee information, including attendees' IDs and join tokens.</p>\n@param attendees The attendee information, including attendees' IDs and join tokens.*/",
        "setterMethodName" : "setAttendees",
        "setterModel" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<CreateAttendeeRequestItem>",
          "variableName" : "attendees",
          "variableType" : "java.util.List<CreateAttendeeRequestItem>",
          "documentation" : "",
          "simpleType" : "List<CreateAttendeeRequestItem>",
          "variableSetterType" : "java.util.Collection<CreateAttendeeRequestItem>"
        },
        "shouldEmitLegacyEnumSetter" : false,
        "shouldFullyQualify" : false,
        "simple" : false,
        "unmarshallingType" : null,
        "varargSetterDocumentation" : "/**<p>The attendee information, including attendees' IDs and join tokens.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAttendees(java.util.Collection)} or {@link #withAttendees(java.util.Collection)} if you want to override the existing values.</p>\n@param attendees The attendee information, including attendees' IDs and join tokens.\n@return Returns a reference to this object so that method calls can be chained together.*/",
        "variable" : {
          "timestampFormat" : null,
          "variableDeclarationType" : "java.util.List<CreateAttendeeRequestItem>",
          "variableName" : "attendees",
          "variableType" : "java.util.List<CreateAttendeeRequestItem>",
          "documentation" : "<p>The attendee information, including attendees' IDs and join tokens.</p>",
          "simpleType" : "List<CreateAttendeeRequestItem>",
          "variableSetterType" : "java.util.Collection<CreateAttendeeRequestItem>"
        },
        "xmlNameSpaceUri" : null
      } ],
      "membersAsMap" : {
        "Attendees" : {
          "c2jName" : "Attendees",
          "c2jShape" : "CreateAttendeeRequestItemList",
          "deprecated" : false,
          "documentation" : "<p>The attendee information, including attendees' IDs and join tokens.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The attendee information, including attendees' IDs and join tokens.</p>\n@param attendees The attendee information, including attendees' IDs and join tokens.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withAttendees",
          "getterDocumentation" : "/**<p>The attendee information, including attendees' IDs and join tokens.</p>\n@return The attendee information, including attendees' IDs and join tokens.*/",
          "getterMethodName" : "getAttendees",
          "getterModel" : {
            "returnType" : "java.util.List<CreateAttendeeRequestItem>",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : null,
            "marshallLocation" : "PAYLOAD",
            "marshallLocationName" : "Attendees",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "Attendees",
            "uri" : false
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : true,
          "listModel" : {
            "implType" : "java.util.ArrayList",
            "interfaceType" : "java.util.List",
            "listMemberModel" : {
              "c2jName" : "member",
              "c2jShape" : "CreateAttendeeRequestItem",
              "deprecated" : false,
              "documentation" : "",
              "endpointDiscoveryId" : false,
              "enumType" : null,
              "fluentSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "fluentSetterMethodName" : "withMember",
              "getterDocumentation" : "/**\n@return */",
              "getterMethodName" : "getMember",
              "getterModel" : {
                "returnType" : "CreateAttendeeRequestItem",
                "documentation" : null
              },
              "http" : {
                "additionalMarshallingPath" : null,
                "additionalUnmarshallingPath" : null,
                "flattened" : false,
                "greedy" : false,
                "header" : false,
                "isPayload" : false,
                "isStreaming" : false,
                "location" : null,
                "marshallLocation" : "PAYLOAD",
                "marshallLocationName" : "member",
                "queryString" : false,
                "requiresLength" : false,
                "statusCode" : false,
                "unmarshallLocationName" : "member",
                "uri" : false
              },
              "idempotencyToken" : false,
              "isBinary" : false,
              "jsonValue" : false,
              "list" : false,
              "listModel" : null,
              "map" : false,
              "mapModel" : null,
              "marshallingTargetClass" : "StructuredPojo",
              "marshallingType" : "STRUCTURED",
              "name" : "Member",
              "sensitive" : false,
              "setterDocumentation" : "/**\n@param member */",
              "setterMethodName" : "setMember",
              "setterModel" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "CreateAttendeeRequestItem",
                "variableName" : "member",
                "variableType" : "CreateAttendeeRequestItem",
                "documentation" : "",
                "simpleType" : "CreateAttendeeRequestItem",
                "variableSetterType" : "CreateAttendeeRequestItem"
              },
              "shouldEmitLegacyEnumSetter" : false,
              "shouldFullyQualify" : false,
              "simple" : false,
              "unmarshallingType" : null,
              "varargSetterDocumentation" : "/**\n@param member \n@return Returns a reference to this object so that method calls can be chained together.*/",
              "variable" : {
                "timestampFormat" : null,
                "variableDeclarationType" : "CreateAttendeeRequestItem",
                "variableName" : "member",
                "variableType" : "CreateAttendeeRequestItem",
                "documentation" : "",
                "simpleType" : "CreateAttendeeRequestItem",
                "variableSetterType" : "CreateAttendeeRequestItem"
              },
              "xmlNameSpaceUri" : null
            },
            "memberLocationName" : null,
            "memberType" : "CreateAttendeeRequestItem",
            "map" : false,
            "marshallNonAutoConstructedEmptyLists" : false,
            "memberAdditionalMarshallingPath" : null,
            "memberAdditionalUnmarshallingPath" : null,
            "sendEmptyQueryString" : false,
            "simple" : false,
            "simpleType" : "CreateAttendeeRequestItem",
            "templateImplType" : "java.util.ArrayList<CreateAttendeeRequestItem>",
            "templateType" : "java.util.List<CreateAttendeeRequestItem>"
          },
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "List",
          "marshallingType" : "LIST",
          "name" : "Attendees",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The attendee information, including attendees' IDs and join tokens.</p>\n@param attendees The attendee information, including attendees' IDs and join tokens.*/",
          "setterMethodName" : "setAttendees",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<CreateAttendeeRequestItem>",
            "variableName" : "attendees",
            "variableType" : "java.util.List<CreateAttendeeRequestItem>",
            "documentation" : "",
            "simpleType" : "List<CreateAttendeeRequestItem>",
            "variableSetterType" : "java.util.Collection<CreateAttendeeRequestItem>"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : false,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The attendee information, including attendees' IDs and join tokens.</p>\n<p><b>NOTE:</b> This method appends the values to the existing list (if any). Use {@link #setAttendees(java.util.Collection)} or {@link #withAttendees(java.util.Collection)} if you want to override the existing values.</p>\n@param attendees The attendee information, including attendees' IDs and join tokens.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "java.util.List<CreateAttendeeRequestItem>",
            "variableName" : "attendees",
            "variableType" : "java.util.List<CreateAttendeeRequestItem>",
            "documentation" : "<p>The attendee information, including attendees' IDs and join tokens.</p>",
            "simpleType" : "List<CreateAttendeeRequestItem>",
            "variableSetterType" : "java.util.Collection<CreateAttendeeRequestItem>"
          },
          "xmlNameSpaceUri" : null
        },
        "MeetingId" : {
          "c2jName" : "MeetingId",
          "c2jShape" : "GuidString",
          "deprecated" : false,
          "documentation" : "<p>The Amazon Chime SDK ID of the meeting to which you're adding attendees.</p>",
          "endpointDiscoveryId" : false,
          "enumType" : null,
          "fluentSetterDocumentation" : "/**<p>The Amazon Chime SDK ID of the meeting to which you're adding attendees.</p>\n@param meetingId The Amazon Chime SDK ID of the meeting to which you're adding attendees.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "fluentSetterMethodName" : "withMeetingId",
          "getterDocumentation" : "/**<p>The Amazon Chime SDK ID of the meeting to which you're adding attendees.</p>\n@return The Amazon Chime SDK ID of the meeting to which you're adding attendees.*/",
          "getterMethodName" : "getMeetingId",
          "getterModel" : {
            "returnType" : "String",
            "documentation" : null
          },
          "http" : {
            "additionalMarshallingPath" : null,
            "additionalUnmarshallingPath" : null,
            "flattened" : false,
            "greedy" : false,
            "header" : false,
            "isPayload" : false,
            "isStreaming" : false,
            "location" : "uri",
            "marshallLocation" : "PATH",
            "marshallLocationName" : "MeetingId",
            "queryString" : false,
            "requiresLength" : false,
            "statusCode" : false,
            "unmarshallLocationName" : "MeetingId",
            "uri" : true
          },
          "idempotencyToken" : false,
          "isBinary" : false,
          "jsonValue" : false,
          "list" : false,
          "listModel" : null,
          "map" : false,
          "mapModel" : null,
          "marshallingTargetClass" : "String",
          "marshallingType" : "STRING",
          "name" : "MeetingId",
          "sensitive" : false,
          "setterDocumentation" : "/**<p>The Amazon Chime SDK ID of the meeting to which you're adding attendees.</p>\n@param meetingId The Amazon Chime SDK ID of the meeting to which you're adding attendees.*/",
          "setterMethodName" : "setMeetingId",
          "setterModel" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "meetingId",
            "variableType" : "String",
            "documentation" : "",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "shouldEmitLegacyEnumSetter" : false,
          "shouldFullyQualify" : false,
          "simple" : true,
          "unmarshallingType" : null,
          "varargSetterDocumentation" : "/**<p>The Amazon Chime SDK ID of the meeting to which you're adding attendees.</p>\n@param meetingId The Amazon Chime SDK ID of the meeting to which you're adding attendees.\n@return Returns a reference to this object so that method calls can be chained together.*/",
          "variable" : {
            "timestampFormat" : null,
            "variableDeclarationType" : "String",
            "variableName" : "meetingId",
            "variableType" : "String",
            "documentation" : "<p>The Amazon Chime SDK ID of the meeting to which you're adding attendees.</p>",
            "simpleType" : "String",
            "variableSetterType" : "String"
          },
          "xmlNameSpaceUri" : null
        }
      },
      "packageName" : "com.amazonaws.services.chimesdkmeetings.request",
      "requestSignerAware" : false,
      "requestSignerClassFqcn" : null,
      "required" : [ "MeetingId", "Attendees" ],
      "shapeName" : "BatchCreateAttendeeRequest",
      "signerAware" : false,
      "signerType" : null,
      "unmarshaller" : null,
      "variable" : {
        "timestampFormat" : null,
        "variableDeclarationType" : "BatchCreateAttendeeRequest",
        "variableName" : "batchCreateAttendeeRequest",
        "variableType" : "BatchCreateAttendeeRequest",
        "documentation" : null,
        "simpleType" : "BatchCreateAttendeeRequest",
        "variableSetterType" : "BatchCreateAttendeeRequest"
      },
      "wrapper" : false
    },
    "BatchCreateAttendeeResult" : {
      "c2jName" : "BatchCreateAttendeeResponse",
      "customization" : {
        "artificialResultWrapper" : null,
[...]
